# name: Build and release
# on:
#   push:
#     branches:
#       - main

# env:
#   YARN_ENABLE_IMMUTABLE_INSTALLS: false

# jobs:
#   build:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout
#         uses: actions/checkout@v4
#       - name: Use Node.js
#         uses: actions/setup-node@v4
#         with:
#           node-version: 20
#       - run: yarn
#       - name: Build Tools Core
#         run: yarn build
#       - name: Build Machine Setup App
#         run: |
#           cd packages/machine-setup
#           yarn neu update
#           yarn neu build --clean

#   release:
#     needs: build
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout
#         uses: actions/checkout@v4
#       - name: Use Node.js
#         uses: actions/setup-node@v4
#         with:
#           node-version: 20
#       - run: yarn
#       - name: Build
#         run: yarn build:pkg
#       - name: Copy Origin Bundle to Dist
#         run: cp dist/agent-edge.js /tmp/agent-edge-bundle.js
#       - name: Create Zip for Windows
#         run: zip -r /tmp/agent-edge-win.zip dist/pkg/agent-edge-win.exe
#       - name: Create Tar for MacOS
#         run: tar -czvf /tmp/agent-edge-macos.tar.gz dist/pkg/agent-edge-macos
#       - name: Create Tar for Linux
#         run: tar -czvf /tmp/agent-edge-linux.tar.gz dist/pkg/agent-edge-linux
#       - name: Build Machine Setup App
#         run: |
#           cd packages/machine-setup
#           yarn neu update
#           yarn neu build --clean
#       - name: Create Tar for Machine Setup
#         run: |
#           cd packages/machine-setup/dist/ejunz-agentedge-machine-setup
#           chmod +x ejunz-agentedge-machine-setup-linux_*
#           tar -czvf /tmp/agent-edge-machine-setup-linux.tar.gz resources.neu ejunz-agentedge-machine-setup-linux_*
#       - name: Get release version and commit
#         id: tag
#         run: |
#           echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
#           echo "version=$(node -p "require('./packages/server/package.json').version")" >> $GITHUB_OUTPUT
#       - name: Release
#         uses: softprops/action-gh-release@v2
#         with:
#           tag_name: ${{ steps.tag.outputs.version }}-${{ steps.tag.outputs.sha_short }}
#           files: |
#             /tmp/agent-edge-bundle.js
#             /tmp/agent-edge-win.zip
#             /tmp/agent-edge-macos.tar.gz
#             /tmp/agent-edge-linux.tar.gz
#             /tmp/agent-edge-machine-setup-linux.tar.gz
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}